
README.md.backup
Hotstrings3/Categories/FirstAndSecondNames.csv
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Config.ini
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Categories/FirstAndSecondNames.csv
Hotstrings3/Categories/New.csv
Hotstrings3/Categories/polski.csv
Hotstrings3/Categories/PolishHotstrings.csv
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Categories/AutocorrectionHotstrings.csv
Hotstrings3/Categories/GermanHotstrings.csv
Hotstrings3/Categories/PersonalHotstrings.csv
Hotstrings3/Libraries/FirstAndSecondNames.csv
Hotstrings3/Libraries/GermanHotstrings.csv
Hotstrings3/Libraries/New.csv
Hotstrings3/Libraries/PersonalHotstrings.csv
Hotstrings3/Libraries/PolishHotstrings.csv
Hotstrings3/Libraries/polski.csv
Hotstrings3/Libraries/TechnicalHotstrings.csv
Hotstrings3/Libraries/voestalpineHotstrings.csv
Hotstrings3/Libraries/AutocorrectionHotstrings.csv
Hotstrings/Libraries/AutocorrectionHotstrings.csv
Hotstrings/Libraries/FirstAndSecondNames.csv
Hotstrings/Libraries/GermanHotstrings.csv
Hotstrings/Libraries/New.csv
Hotstrings/Libraries/PersonalHotstrings.csv
Hotstrings/Libraries/PolishHotstrings.csv
Hotstrings/Libraries/polski.csv
Hotstrings/Libraries/TechnicalHotstrings.csv
Hotstrings/Libraries/voestalpineHotstrings.csv
Hotstrings/Libraries/fikumiku.csv
Hotstrings/Config.ini
Hotstrings/Config.ini
*.txt
Hotstrings/HotstringsLite.ahk
