temp/Z_DiacriticPolish.csv
temp/voestalpineHotstrings.csv
temp/unicodes.txt
temp/TimeHotstrings.csv
temp/TestLib.csv
temp/TechnicalHotstrings.csv
temp/Siemens_GPE.csv
temp/ReadMe.md
temp/PriorityLibrary.csv
temp/polski.csv
temp.ahk
temp2.ahk
c1653e5/Languages/English.txt
f221a7a/Hotstrings.ahk
f221a7a/hotstrings.ico
f221a7a/Languages/English.txt
Languages/English.txt
temp/Abbreviations2.csv
temp/Abbreviations3.csv
temp/AccentsDiacritics.csv
temp/AutoCorrect.csv
temp/AutocorrectionHotstrings.csv
temp/BrandAndProperNames.csv
temp/BuildingBlocks.csv
temp/CapitalLetters.csv
temp/CircledNumbers.csv
temp/EmojiHotstrings.csv
temp/Fileformats.csv
temp/FirstCapital.csv
temp/FunctionKeys.csv
temp/GermanHotstrings.csv
temp/GridTest.csv
c1653e5/dziala.txt
ThirdMinimal.ahk
789f271/hotstrings.ico
SecondMinimal.ahk
789f271/niedziala.txt
789f271/Languages/English.txt
c1653e5/Hotstrings.ahk
c1653e5/hotstrings.ico
temp/FirstAndSecondNames.csv
temp/Hitachi_Bart.csv
temp/Incoterms.csv
temp/PersonalHotstrings.csv
temp/PhysicsHotstrings.csv
temp/PolishHotstrings.csv
