
README.md.backup
Hotstrings3/Categories/FirstAndSecondNames.csv
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Config.ini
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Categories/FirstAndSecondNames.csv
Hotstrings3/Categories/New.csv
Hotstrings3/Categories/polski.csv
Hotstrings3/Categories/PolishHotstrings.csv
Hotstrings3/Categories/voestalpineHotstrings.csv
Hotstrings3/Categories/AutocorrectionHotstrings.csv
Hotstrings3/Categories/GermanHotstrings.csv
Hotstrings3/Categories/PersonalHotstrings.csv
